img{
	border:0;
}
html, body {
	font-family: "微软雅黑";
	font-size: 16px;
	border: 0;
	color: #333;
	padding-top: 9px;
	background:#fff;
}

body, img, p, h1, h2, h3, h4, h5, ul, ol, li, form, blockquote {
	margin: 0;
	padding: 0;
}

body{
	padding:0 20px;
}
li{
	list-style:none;
}
ul#main-nav  {margin:20px 0;} 
ul#main-nav  li {float:left;margin-right:10px;} 
ul#main-nav li a {} 
ul#main-nav li ul {} 
ul#main-nav li li {margin-top:10px;} 
ul#main-nav li li a {} 
#mobile-menu{display:none;clear:both;}
#bitBanner{
	clear:both;
	padding-top:20px;
}